* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header .logo h1 {
    margin: 0;
    font-size: 2.5em;
}

header nav ul {
    list-style: none;
    padding: 10px;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section#home {
    background: url('/static/images/hero-image.jpg') no-repeat center center/cover;
    color: white;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 3em;
}

.hero p {
    font-size: 1.5em;
}

section {
    padding: 40px;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer .social {
    list-style: none;
    padding: 0;
}

footer .social li {
    display: inline;
    margin: 0 10px;
}

footer .social li a {
    color: #fff;
    text-decoration: none;
}
